/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

/*html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

!* change colours to suit your needs *!
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

!* change colours to suit your needs *!
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

!* change border colour to suit your needs *!
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}*/

/* COMMON */
* {
    margin: 0 auto;
    padding: 0;
    font-size: 12px;
    font-family: 'Malgun gothic', 'Sans-Serif', 'Arial';
}

body {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    word-break: break-all;
    font-family: 'Heebo', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color:#333;
}

ul li {
    list-style-type: none;
}

.fl {
    float:left;
}

.tc {
    text-align: center;
}

/* HEADER */
.header-area {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.navbar-fade {
    animation-name: navbar-fade;
    animation-duration: 0.5s;
    -webkit-animation-name: navbar-fade;
    -webkit-animation-duration: 0.5s;
}

@keyframes navbar-fade {
    from { opacity: .4}
    to { opacity: 1 }
}

@-webkit-keyframes navbar-fade {
    from { opacity: .4}
    to { opacity: 1 }
}

.header-area.navbar-fixed {
    position: fixed;
}

.header-area > .navbar {
    width: calc(100% - 120px);
    margin: 0 60px;
    overflow: hidden;
}

@media (min-width: 992px) {
    .header-area > .navbar {
        max-width: 900px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .header-area > .navbar {
        max-width: 1000px;
    }
}

.header-area > .navbar > .navbar-brand {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    cursor: pointer;
}

.header-area > .navbar > .navbar-toggler * {
    font-size: 32px;
}

.header-area > .navbar > .navbar-toggler {
    float: right;
    height: 70px;
    line-height: 70px;
    font-size: 32px;
    cursor: pointer;
}

@media(min-width: 992px) {
    .header-area > .navbar > .navbar-toggler {
        display: none;
    }
}

.header-area > .navbar > .navbar-menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 70px;
    left: 0;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    overflow: hidden;
}

.header-area > .navbar > .navbar-menu.show {
    height: auto;
}

.header-area > .navbar > .navbar-menu > .nav-item {
    float: none;
    display: block;
    height: 50px;
    line-height: 50px;
}

.header-area > .navbar > .navbar-menu > .nav-item:hover * {
    background-color: rgba(0, 0, 0, 0.4);
}

.header-area > .navbar > .navbar-menu > .nav-item > .nav-link {
    display: block;
    padding-left: 50px;
    color: white;
    cursor: pointer;
}

@media (min-width: 992px) {
    .header-area > .navbar > .navbar-menu {
        position: relative;
        background-color: transparent;
        float: right;
        top: 0;
        width: auto;
        height: auto;
        transition: none;
    }

    .header-area > .navbar > .navbar-menu.show {
        height: auto;
    }

    .header-area > .navbar > .navbar-menu > .nav-item {
        display: inline-block;
        height: 70px;
        line-height: 70px;
    }

    .header-area > .navbar > .navbar-menu > .nav-item:hover * {
        background-color: transparent;
    }

    .header-area > .navbar > .navbar-menu > .nav-item > .nav-link {
        display: block;
        padding: 0 20px;
        color: black;
    }
}

/* SECTION CONTAINER */
.section-container {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 0px;
}

/* MAIN AREA */
.main-area {
    height: auto;
}

.main-area > .container {
    position: relative;
    height: 100%;
    margin-bottom: 100px;
}

.main-area > .container > .image-slide {
    height: 100%;
}

.main-area > .container > .image-prev,
.main-area > .container > .image-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.main-area > .container > .image-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.main-area > .container > .image-prev:hover,
.main-area > .container > .image-next:hover {
    background-color: rgba(0,0,0,0.8);
}

.main-area > .container > .slide {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
}

.main-area > .container > .slide > .slide {
    cursor: pointer;
    height: 4px;
    width: 30px;
    margin: 0 2px;
    background-color: #717171;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.main-area > .container > .slide > .slide.active,
.main-area > .container > .slide > .slide:hover {
    background-color: #ddd;
}

.main-area > .container > .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/* SECTION */
section {
    padding: 100px 0;
}

.title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    padding-bottom: 100px;
}

.title::after {
    content: "";
    display: block;
    width: 100px;
    height: 10px;
    margin: 0 auto;
    background-image: linear-gradient(to right, royalblue, aquamarine);
}


/* ABOUT AREA */
.about-area {
    height: auto;
    position: relative;
    font-size: 0;
}

.about-area > .picture {
    display: block;
    text-align: center;
    padding: 20px;
}

@media (min-width: 992px) {
    .about-area > .picture {
        width: calc(40% - 40px);
        display: inline-block;
    }
}

.about-area > .picture > img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 15px;
}

.about-area > .picture > .name {
    font-size: 25px;
    text-align: center;
    padding: 15px 0;
}

.about-area > .picture > .description {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

.about-area > .text {
    display: block;
    padding: 30px;
}

@media (min-width: 992px) {
    .about-area > .text {
        width: calc(60% - 100px);
        display: inline-block;
        padding: 0 50px;
    }
}

.about-area > .text * {
    font-size: 16px;
}

.about-area > .text > .intro {
    padding: 20px 0;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 1.5px;
}

.about-area > .text > ul {
    padding: 20px 0;
}

.about-area > .text > ul > li {
    height: 40px;
}

.about-area > .text > ul > li > .info {
    color: #777;
}

.about-area > .text > ul > li > .info > i {
    color: royalblue;
}

.about-area > .text > .sns {
    text-align: right;
}

@media (min-width: 992px) {
    .about-area > .text > .sns {
        text-align: left;
    }
}

.about-area > .text > .sns > a {
    width: 50px;
    line-height: 50px;
    background-color: #eee;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.about-area > .text > .sns > a:hover {
    background-image: linear-gradient(to right, royalblue , aquamarine);
}


/* SKILLS AREA */
.skills-area {
    height: auto;
    background-color: #f9f9ff;
}

.skills-area > .container {
    text-align: center;
    margin-bottom: 100px;
}

.skills-area > .container > .item {
    height: auto;
    background-color: white;
    padding: 20px;
    margin: 20px;
    text-align: left;
    transition: all 0.5s ease;
}

.skills-area > .container > .item:hover {
    transform: scale(1.015);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.skills-area > .container > .item > .icon {
    padding: 10px 0;
    display: inline-block;
}

.skills-area > .container > .item > .icon > span > i {
    font-size: 48px;
    color: #aaa;
}

.skills-area > .container > .item > .skills {
    font-size: 32px;
    font-weight: bold;
    padding: 10px 0;
}


.skills-area > .container > .item > .content {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 1.5px;
    padding: 10px 0;
}

/* PROJECTS AREA */
.projects-area {
    width: 1200px;
    height: auto;
    background-color: #f9f9ff;
}

.projects-area > .filter > .list {
    text-align: center;
}

.projects-area > .filter > .list > .listItem {
    display: inline-block;
    font-weight: bold;
    padding: 0 20px;
    font-size: 16px;
    cursor: pointer;
}

.projects-area > .filter > .list > .listItem:hover,
.projects-area > .filter > .list > .listItem.active {
    color: royalblue;
}

.projects-area > .container {
    padding-top: 50px;
    font-size: 0px;
}

.projects-area > .container > .filterItem {
    display: none;
    width: calc(100% - 40px);
    margin: 20px;
    text-align: center;
}

@media (min-width: 992px) {
    .projects-area > .container > .filterItem {
        width: calc(50% - 40px);
    }
}

.projects-area > .container > .filterItem.show {
    display: inline-block;
}

.projects-area > .container > .filterItem > .image {
    position: relative;
    max-height: 700px;
}

@media (min-width: 992px) {
    .projects-area > .container > .filterItem > .image {
        height: 300px;
    }
}

.projects-area > .container > .filterItem > .image > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 300ms ease;
    cursor: pointer;
}

.projects-area > .container > .filterItem > .image:hover > .overlay {
    background-image: linear-gradient(to right, royalblue , aquamarine);
    opacity: 0.9;
}

.projects-area > .container > .filterItem > .image > .overlay > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
}

.projects-area > .container > .filterItem > .image > img {
    border-radius: 5px;
}

.projects-area > .container > .filterItem > .main {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
}

.projects-area > .container > .filterItem > .sub {
    font-size: 16px;
    color: #777;
}

.projects-area > .container > .filterItem > .text {
    display: none;
}

#portfolioModal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    overflow: hidden;
}

#portfolioModal > .close {
    display: block;
    text-align: right;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    padding: 0 20px;
}

#portfolioModal > .close:hover,
#portfolioModal > .close:focus {
    color: #bbb;
}

#portfolioModal > .container {
    width: 100%;
    height: auto;
}

#portfolioModal > .container > img {
    width: calc(100% - 40px);
    padding: 20px;
}

@media (min-width: 992px) {
    #portfolioModal > .container > img {
        max-width: 700px;
    }
}

#portfolioModal > .container > .modal-main {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 10px 0;
}

#portfolioModal > .container > .modal-sub {
    font-size: 20px;
    color: white;
    padding: 10px 0;
}

#portfolioModal > .container > .modal-text {
    font-size: 16px;
    color: #bbb;
}

/* BULLETIN BOARD AREA */
.bulletinBoard-area {
    width: 1000px;
    height: 800px;
    background-color: #f9f9ff;
}

.bulletinBoard-area > .container {
    position: relative;
    text-align: center;
    background-color: #f9f9ff;
    margin: 20px;
    padding: 40px;
}

/* 게시판 목록 */
#board_area {
    width: 900px;
    position: relative;
}

.list-table {
    margin-top: 10px;
}
.list-table thead th{
    height:40px;
    border-top:2px solid #09C;
    border-bottom:1px solid #CCC;
    font-weight: bold;
    font-size: 17px;
}
.list-table tbody td{
    text-align:center;
    padding:10px 0;
    border-bottom:1px solid #CCC;
    height:20px;
    font-size: 14px;
}

#write_btn {
    position: absolute;
    margin-top:20px;
    right: 0;
}

#page_num {
    font-size: 14px;
    margin-left: 260px;
    margin-top:30px;
}
#page_num ul li {
    float: left;
    margin-left: 10px;
    text-align: center;
}
.fo_re {
    font-weight: bold;
    color:red;
}

/* 게시판 글쓰기 */
#board_write {
    width:900px;
    position:relative;
    margin:0 auto;
}
#write_area {
    margin-top:70px;
    font-size:14px;}
#in_name {
    margin-top:30px;
}
#in_name textarea {
    font-weight:bold;
    font-size:26px;
    color:#333;
    width: 900px;
    border:none;
    resize: none;
}
#in_title {
    margin-top:30px;
}
#in_title textarea {
    font-weight:bold;
    font-size:26px;
    color:#333;
    width: 900px;
    border:none;
    resize: none;
}
.wi_line {
    border:solid 1px lightgray;
    margin-top:10px;
}
#in_content {
    margin-top:10px;
}
#in_content textarea {
    font-size: 14px;
    color:#333;
    width: 900px;
    height: 400px;
    resize: none;
}
#in_pw input {
    font-size: 14px;
    margin-top:10px;
}
.bt_se {
    margin-top:20px;
    text-align:center;
}
.bt_se button {
    width:100px;
    height:30px;
}
#in_lock {
    margin-top:10px;
}

/* 게시판 read */
#board_read {
    width:900px;
    position: relative;
    word-break:break-all;
}
#user_info {
    text-align: right;
    font-size:20px;
}
#user_info ul li {
    float:left;
    margin-left:10px;
}
#bo_line {
    width:880px;
    height:2px;
    background: gray;
    margin-top:20px;
}
#bo_content {
    margin-top:20px;
}
#bo_ser {
    text-align: right;
    margin-top: 30px;
    font-size:18px;
    color:#333;
    position: absolute;
    right: 0;
}
#bo_ser > ul > li {
    float:left;
    margin-left:10px;
}
.re_ct {font-weight:bold; color:blue;}

/* 댓글 */
.comment_view {
    width:900px;
    margin-top:100px;
    word-break:break-all;
}
.dap_lo {
    font-size: 14px;
    padding:10px 0 15px 0;
    border-bottom: solid 1px gray;
}
.dap_to {
    margin-top:5px;
    font-size: 15px;
}
.comment_me {
    font-size:12px;
}
.comment_me ul li {
    float:left;
    width: 30px;
}
.dat_delete {
    display: none;
}
.dat_edit {
    display:none;
}
.dap_sm {
    position: absolute;
    top: 10px;
}
.dap_edit_t{
    width:520px;
    height:70px;
    position: absolute;
    top: 40px;
}
.comment_modify_btn {
    position: absolute;
    top:40px;
    right: 5px;
    width: 90px;
    height: 72px;
}
#comment_content {
    width:700px;
    height: 56px;
}
.dap_ins {

    margin-top:50px;
}
.comment_btn {
    position: absolute;
    width:100px;
    height:56px;
    font-size:16px;
    margin-left: 10px;
}
#foot_box {
    height: 50px;
}

/* 검색 */

.fo_re {
    font-weight: bold;
    color:red;
    margin-left: 15px;
}
#search_box_top {
    margin-top:30px;
    text-align: right;
}
#search_box_bottom {
    text-align: center;
    margin-top: 30px;

}

/* signUpForm */
#wrap {
    clear:both;
    float:left;
    width:100%;
    background:white;
}

#container {
    clear:both;
    width:800px;
    _border:1px solid #000000;
    margin:3% auto
}

#container h1 {
    clear:both;
    float:left;
    width:100%;
    text-align:center;
    color:#000000
}

#container h1 a {
    color:#000000;
    text-decoration:none
}

.line {
    clear:both;
    float:left;
    width:100%;
    border:1px solid #000000;
    margin-bottom:3%
}

.line p {
    float:left;
    min-width:100px;
    margin-left:3%;
    color:#000000
}

.line .inputArea {
    float:left;
}

.line .inputArea input {
    float:left;
    width:370px;
    height:30px;
    margin:10px 0 0 0;
    padding-left:10px
}

.submit {
    clear:both;
    float:left;
    width:100%;
    height:50px;
    background:#000000;
    border:0;
    font-size:20px;
    color:white;
}

/* 로그인, 회원가입, 유효성 체크 */
.sign{
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    height: 55px;
    padding: 10px;
}



/* FOOTER AREA */
.footer-area {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 40px;
    text-align: center;
    background-color: black;
}

.footer-area * {
    color: white;
}

.footer-area > .sns > .item {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

.footer-area > .sns > .item > i {
    font-size: 24px;
}

.footer-area > .info > p {
    font-size: 16px;
    padding: 10px 0;
}